*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:url('file:///C:/Users/Itcomplex/Desktop/FrontEnd%20Mentor%20projects%20of%20html%20&%20css/social-proof-section-master/images/bg-pattern-top-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 100%);
}

.paragraph{
    width:50%;
    padding:40px 0px 0px 100px;
    color: hsl(300, 43%, 22%);
}

.paragraph h1{
    font-size:40px;
    padding:0px 170px 10px 0px;
    
}

.paragraph p{
    padding:20px 150px 0px 0px;
    
}

.images{
    width:50%;
    padding:60px;
}

.column1{
    margin:10px 40px; 
    border-radius:5px;
    width:390px;
    padding:10px; 
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

.column2{
    margin:10px 80px;
    border-radius:5px;
    width:390px;
    padding:10px; 
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

.column3{
    margin:10px 120px;
    border-radius:5px;
    width:390px;
    padding:10px; 
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

header{
    display: flex;
}

.container1{
    margin:10px 10px 0px 100px; 
    border-radius: 7px;
    padding:30px;
    background-color: hsl(300, 43%, 22%);
    color:white;
    width:28%;
    height:220px;
}

.container2{
    margin:30px 10px 0px 10px ;
    border-radius: 7px;
    padding:30px;
    background-color: hsl(300, 43%, 22%);
    color:white;
    width:28%;
    height:220px;
}

.container3{
    margin:50px 10px 0px 10px; 
    border-radius: 7px;
    padding:30px;
    background-color: hsl(300, 43%, 22%);
    color:white;
    width:28%;
    height:220px;
}

section{
    margin-top: 50px;
    display:flex;
}

section img{
    width:50px;
    clip-path: circle(50%);
}

section h3{
    font-size:16px;
}

section h5{
    font-size:12px;
    color:hsl(333, 80%, 67%);
}

.profile{
    display:inline-block;
    vertical-align: top;
    padding:10px 0px 10px 10px;
}

/* MEDIA QUERIES OF DESKTOP SCREEN */
@media(max-width:1240px){
    .paragraph{
        padding:40px 0px 0px 60px;
    }

    .paragraph h1{
        padding:0px 100px 10px 0px;
    }
    
    .paragraph p{
        padding:20px 0px 20px 0px;
    }
    
    .images{
        width:50%;
        padding:60px 20px 60px 20px;
    }
    .column1{
        margin:10px 25px; 
    }
    
    .column2{
        margin:10px 50px;
    }
    
    .column3{
        margin:10px 75px;
    }
     
    .container1{
        margin:10px 10px 0px 60px; 
    }
    
    .container2{
        margin:30px 10px 0px 10px ;
    }
    
    .container3{
        margin:50px 10px 0px 10px; 
    }
}


/* MEDIA QUERIES OF TABLET SCREEN */
@media(max-width:991px){
    .paragraph{
        text-align: center;
        width:100%;
        padding:40px 0px;
    }
    
    .paragraph h1{
        font-size:50px;
        padding:10px 180px;
        
    }
    .paragraph p{ 
        padding:10px 100px;
    }

    .images{
        width:100%;
        padding:40px 0px;
    }
    
    .column1{
        text-align: center;
        margin:10px 100px; 
        width:80%;
        height:70px;
        padding:25px; 
    }
    
    .column2{
        text-align: center;
        margin:10px 100px; 
        width:80%;
        height:70px;
        padding:25px;
    }
    
    .column3{
        text-align: center;
        margin:10px 100px; 
        width:80%;
        height:70px;
        padding:25px;
    }
    
    header{
       flex-direction: column;
    }
    
    .container1{
        margin:10px 100px; 
        padding:50px;
        width:80%;
        height:auto;
    }
    
    .container2{
        margin:10px 100px; 
        padding:50px;
        width:80%;
        height:auto;
    }
    
    .container3{
        margin:10px 100px; 
        padding:50px;
        width:80%;
        height:auto;
    }
    
    section{
        flex-direction: column;
        margin-bottom: 50px;
    }
    
}


/* MEDIA QUERIES OF MOBILE SCREEN */
@media(max-width:767px){
    body{
    background:url('file:///C:/Users/Itcomplex/Desktop/FrontEnd%20Mentor%20projects%20of%20html%20&%20css/social-proof-section-master/images/bg-pattern-top-mobile.svg');
    background-repeat: no-repeat;
   }

    .paragraph{
        text-align: center;
        width:100%;
        padding:40px 0px;
    }
    
    .paragraph h1{
        font-size:40px;
        padding:10px 40px;
        
    }
    .paragraph p{ 
        padding:10px 20px;
    }

    .images{
        width:100%;
        padding:40px 0px;
    }
    
    .column1{
        text-align: center;
        margin:10px 30px; 
        width:90%;
        height:70px;
        padding:25px; 
    }
    
    .column2{
        text-align: center;
        margin:10px 30px; 
        width:90%;
        height:70px;
        padding:25px;
    }
    
    .column3{
        text-align: center;
        margin:10px 30px; 
        width:90%;
        height:70px;
        padding:25px;
    }
    
    header{
       flex-direction: column;
    }
    
    .container1{
        margin:10px 30px; 
        padding:50px;
        width:90%;
        height:auto;
    }
    
    .container2{
        margin:10px 30px; 
        padding:50px;
        width:90%;
        height:auto;
    }
    
    .container3{
        margin:10px 30px; 
        padding:50px;
        width:90%;
        height:auto;
    }
    
    section{
        flex-direction: column;
        margin-bottom: 50px;
    }
    
}